 <!--

    <div class="control-group">
        <label class="control-label">Upload logo</label>
        <div class="controls media">
            <div class="bg-light pull-left text-center media-large thumb-large">
                <i class="icon-user inline icon-light icon-3x m-t-large m-b-large"></i></div>
            <div class="media-body">
                 {#{ form(form.path) }}
                <br>  
                {{ form(form.tag) }#}
             </div>
        </div>
    </div>

 -->
