<div class="potfolio">
    <h4 class="portfoliotitle"> Nos moyens techniques </h4>
    <div class="span12">
        {% for entity in images %}
            <div class="span3 portfolioitem " >

                {# <a  class="image_modal" data-toggle="modal" data-target="#myModal">#}
                <p>
                    <img src="{{ asset(entity.getWebPath()) }}" tag="{{ entity.title }}">
                </p>

            </div>
        {% endfor %}

    </div>

</div>